
.filled {
    background-color: var(--color-background);
    /*background-color: none;*/
    /* border: 1px solid var(--TEMPLATING-COLOR); */

    /*border-color: var(--color-accent-2);
    border-width: 2px;
    border-style: solid;*/
    /* border-radius: 4px; */
    /*box-shadow: 3px 3px 3px #999999;*/
}
.expand {
    height:100%;
    width:100%;
}


.centered {
    left: 50%;
    top: 50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    position: absolute;
}
.centerh {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
    position: absolute;
}
.centermv {
    margin-top:auto;
    margin-bottom:auto;
}
.centermh {
    margin-left:auto;
    margin-right:auto;
}

.marginLRauto {
    margin-left:auto;
    margin-right:auto;
}
