#mapCanvas {
    width:100%;
    height:100%;
}

.flex.row {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-content:baseline;
}

.pixi_atlas_of_worlds {
    /* width:150%; */
    height:100vh;
}

#atlas_tier_button {
    transform-origin: center;
}
.centered {
    left: 50%; 
    -webkit-transform: translate(-50%, 0); 
    position: absolute;
}

* {padding: 0; margin: 0}

body {
    overflow-y: hidden;
    /*overflow:hidden;*/
}